Repository godot-dimensions/g4mf: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, check-schema-refs

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: local
    hooks:
      - id: file-format
        name: file-format
        language: python
        entry: python .github/workflows/file_format.py
        types_or: [text]

      - id: check-markdown-links
        name: check-markdown-links
        language: python
        entry: python .github/workflows/check_markdown_links.py
        types: [markdown]

      - id: check-schema-refs
        name: check-schema-refs
        language: python
        entry: python .github/workflows/check_schema_refs.py
        types: [json]

Replace vertex instances with bindings
  specification/parts/data.md
  specification/parts/mesh/bindings.md
  specification/parts/mesh/blend.md
  specification/parts/mesh/material.md
  specification/parts/mesh/mesh.md
  specification/parts/mesh/topology.md
  specification/schema/mesh/deformation/g4mf.mesh.blend.shape.schema.json
  specification/schema/mesh/g4mf.material.channel.schema.json
  specification/schema/mesh/g4mf.mesh.surface.binding.geometry.schema.json
  specification/schema/mesh/g4mf.mesh.surface.binding.schema.json
  specification/schema/mesh/g4mf.mesh.surface.schema.json
  specification/schema/mesh/g4mf.mesh.surface.topology.schema.json
Due: check-markdown-links, check-schema-refs

Expand list of disallowed characters in names with stated reasons
  specification/parts/core.md
Due: check-markdown-links

Explicitly document seams as an accessor index
  specification/parts/mesh/mesh.md
Due: check-markdown-links

Add thumbnail property to asset header
  specification/parts/asset.md
  specification/schema/g4mf.asset.schema.json
Due: check-markdown-links, check-schema-refs

Rename g4mf_id to g4mf_index
  specification/parts/core.md
  specification/parts/model/node_model_instance.md
  specification/schema/g4mf.accessor.schema.json
  specification/schema/g4mf.bufferView.schema.json
  specification/schema/g4mf.node.model_instance.schema.json
  specification/schema/g4mf.node.schema.json
  specification/schema/g4mf_file_ref.schema.json
  specification/schema/g4mf_index.schema.json
  specification/schema/mesh/deformation/g4mf.mesh.blend.shape.target.schema.json
  specification/schema/mesh/deformation/g4mf.mesh.skin.schema.json
  specification/schema/mesh/deformation/g4mf.node.bone.schema.json
  specification/schema/mesh/deformation/g4mf.node.skeleton.schema.json
  specification/schema/mesh/g4mf.material.channel.schema.json
  specification/schema/mesh/g4mf.mesh.schema.json
  specification/schema/mesh/g4mf.mesh.surface.binding.geometry.schema.json
  specification/schema/mesh/g4mf.mesh.surface.binding.schema.json
  specification/schema/mesh/g4mf.mesh.surface.schema.json
  specification/schema/mesh/g4mf.node.mesh_instance.schema.json
  specification/schema/physics/g4mf.node.physics.collider.schema.json
  specification/schema/physics/g4mf.node.physics.trigger.schema.json
  specification/schema/physics/g4mf.shape.schema.json
Due: check-markdown-links, check-schema-refs

Update character/avatar blend shape section headers
  specification/parts/mesh/character_avatar.md
Due: check-markdown-links

Explicitly allow custom shape types
  specification/schema/physics/g4mf.shape.schema.json
Due: check-schema-refs

Refactor model files and image files into a unified files array
  specification/parts/core.md
  specification/parts/data.md
  specification/parts/model/model_file_ref.md
  specification/parts/model/node_model_instance.md
  specification/parts/node.md
  specification/parts/texture.md
  specification/schema/g4mf.node.model_instance.schema.json
  specification/schema/g4mf.schema.json
  specification/schema/g4mf.texture.schema.json
Due: check-markdown-links, check-schema-refs

Rename binding dimension to decompose
  specification/parts/mesh/bindings.md
  specification/schema/mesh/g4mf.mesh.surface.binding.geometry.schema.json
Due: check-markdown-links, check-schema-refs

Require that geometry accessors use unsigned integer component types
  specification/parts/mesh/topology.md
  specification/schema/mesh/deformation/g4mf.mesh.blend.shape.schema.json
  specification/schema/mesh/g4mf.mesh.surface.schema.json
Due: check-markdown-links, check-schema-refs

Make bindings geometry accesor behave like main geometry accessor
  specification/parts/mesh/bindings.md
Due: check-markdown-links

Replace "compression format" with "encoding"
  specification/parts/binary_file_format.md
  specification/parts/data.md
  specification/schema/g4mf.buffer.schema.json
Due: check-markdown-links, check-schema-refs

Simplify mesh surface binding by using geometry for edges and vertices
  specification/parts/mesh/bindings.md
  specification/parts/mesh/material.md
  specification/parts/mesh/mesh.md
  specification/schema/mesh/g4mf.material.channel.schema.json
  specification/schema/mesh/g4mf.mesh.surface.binding.geometry.schema.json
  specification/schema/mesh/g4mf.mesh.surface.binding.schema.json
Due: check-markdown-links, check-schema-refs

Separate transform properties into separate schema and Markdown files
  specification/parts/core.md
  specification/parts/node.md
  specification/parts/transform.md
  specification/schema/g4mf.node.schema.json
  specification/schema/g4mf_transform.schema.json
  specification/specification.md
Due: check-markdown-links, check-schema-refs

Exclude `#` characters from G4MF item names
  specification/parts/core.md
  specification/parts/node.md
Due: check-markdown-links

Allow G4MF chunks to be laid out in any order
  specification/parts/binary_file_format.md
  specification/parts/data.md
  specification/schema/g4mf.buffer.schema.json
Due: check-markdown-links, check-schema-refs

Ban more characters in G4MF item names
  .gitignore
  specification/parts/core.md
  specification/parts/node.md
Due: check-markdown-links

Upgrade CI checks
  .github/workflows/check_markdown_links.py
  .github/workflows/check_schema_refs.py
  .github/workflows/file_format.py
  .github/workflows/static_checks.yml
  .pre-commit-config.yaml
Due: none

Clarify the semantic intent of mesh surfaces
  specification/parts/mesh/mesh.md
Due: check-markdown-links

Use an explicit array for blend shape surfaces
  README.md
  specification/parts/mesh/blend.md
  specification/parts/mesh/mesh.md
  specification/schema/mesh/deformation/g4mf.mesh.blend.shape.schema.json
  specification/schema/mesh/deformation/g4mf.mesh.blend.shape.surface.schema.json
Due: check-markdown-links, check-schema-refs

Replace point with omni light type
  specification/parts/light.md
  specification/schema/g4mf.node.light.schema.json
  specification/schema/g4mf.node.schema.json
Due: check-markdown-links, check-schema-refs

Allow bindings to have less than the number of elements
  specification/parts/mesh/bindings.md
Due: check-markdown-links

Add extensive text file format rules for .g4tf files
  specification/parts/data.md
  specification/parts/file_format.md
  specification/specification.md
Due: check-markdown-links

Add section allowing for alternative file extensions
  specification/parts/file_format.md
Due: check-markdown-links

Split up very large lines in Markdown files
  specification/parts/coordinate_system.md
  specification/parts/core.md
  specification/parts/mesh/character_avatar.md
  specification/parts/mesh/material.md
  specification/parts/model/node_model_instance.md
  specification/parts/node.md
  specification/parts/transform.md
Due: check-markdown-links

Recommend names be case-insensitive unique
  specification/parts/core.md
Due: check-markdown-links

Improve wording, grammar, and fix typos
  README.md
  specification/parts/asset.md
  specification/parts/coordinate_system.md
  specification/parts/core.md
  specification/parts/data.md
  specification/parts/file_format.md
  specification/parts/light.md
  specification/parts/mesh/bindings.md
  specification/parts/mesh/blend.md
  specification/parts/mesh/character_avatar.md
  specification/parts/mesh/material.md
  specification/parts/mesh/mesh.md
  specification/parts/mesh/skeleton.md
  specification/parts/mesh/topology.md
  specification/parts/node.md
  specification/parts/physics/motion.md
  specification/parts/physics/shape.md
  specification/parts/texture.md
  specification/parts/transform.md
  specification/schema/g4mf.node.camera.schema.json
  specification/schema/mesh/deformation/g4mf.mesh.blend.schema.json
  specification/schema/mesh/g4mf.material.channel.schema.json
  specification/schema/mesh/g4mf.mesh.surface.schema.json
  specification/schema/mesh/g4mf.node.mesh_instance.schema.json
  specification/schema/physics/g4mf.node.physics.motion.schema.json
  specification/specification.md
Due: check-markdown-links, check-schema-refs
